body{
    background-color: rgb(238, 238, 238);
    padding: 16px;
}

article{
    width: 68%;
    color: rgb(51, 51, 51) ;
}

img{
    width: 500px;
    height: 400px;
}

header p{
   
    display: inline-block;
}

h1{
    display: inline-block;

    margin-top: 0;
}

aside{
    width: 30%;
    float: right;

}
